<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- As stated, we know how to output a single value from the server thanks to ejs. We are going use the value being sent to make a title -->
  <!-- We do not need to reference the object first, we just reference the title directly -->
  <title>Blog Samara | <%= title %></title>
</head>