<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>This is a blog website built to study the concept and understandings of Node.js</p>
    <p>The idea here is to be able to create a new blog, save it to a database, and have a server host the website and extract and save data</p>
    <p>If the user is able to create a new post and save that post, that means the website was a success</p>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>