<!-- Something you will notice here is this code looks identical to html -->
<!-- Technically, this is not html, it's actually ejs code. But ejs is extremely similar, almost 1-1 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Samara</title>
</head>
<body>

  <nav>
    <div class="site-title">
      <a href="/"><h1>Blog Samara</h1></a>
      <p>A Sami Samara Site</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>

  <!-- Later on, we are going to display all of our blogs here. This is where the dynamic content will be -->
  <div class="blogs content">
    <h2>All Blogs</h2>

  </div>
  
</body>
</html>